<%- include('cabecalho'); -%>
<!-- End Navbar -->
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-4">
                            <h6>Meus Produtos</h6>
                        </div>
                        <div class="col-4">
                            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                                <div class="input-group">
                                    <span class="input-group-text text-body"><i class="fas fa-search"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" placeholder="Type here...">
                                </div>
                            </div>
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <a class="btn btn-primary btn-sm" href="/empresa/addproduto" type="button">Adicionar</a>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Produtos</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Valor</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Ativo?</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Categoria</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <%Produtos.forEach(function(produto){%>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="/uploads/<%=produto.foto%>" class="avatar avatar-sm me-3"
                                                    alt="user1">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm"><%=produto.nome%></h6>
                                                <!--<p class="text-xs text-secondary mb-0">john@creative-tim.com</p>-->
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0"><%=produto.valor%></p>
                                        <!--<p class="text-xs text-secondary mb-0">Organization</p>-->
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <%if(produto.ativo == true){%>
                                        <span class="badge badge-sm bg-gradient-success">Sim</span>
                                        <%}else{%>
                                        <span class="badge badge-sm bg-gradient-danger">Não</span>
                                        <%}%>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold"><%=produto.categoria%></span>
                                    </td>
                                    <td class="align-middle">
                                        <a href="/empresa/editaproduto/<%=produto.id%>"
                                            class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                            data-original-title="Edit user">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                                <%})%>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('rodape'); -%>